{% extends 'main/layout.html' %}

{% block title %}
    {% if current_category %}
       {{ current_category.name}}
    {% else %}
        Новости на сайте
    {% endif %}
{% endblock %}

{% block content %}
    <div class="features">
        <h1 class="fw-light">Новости</h1>
            {% if current_category %}
                <p class="lead text-muted" >{{ current_category.name}}</p>
            {% else %}
                <p class="lead text-muted" > Новостной раздел сайта </p>
            {% endif %}
    </div>
    <div class="info_news">
        <p>Кол-во новостей: {{news_count}}
        </p>
    </div>
    <a href="/news/create"> <button class="btn btn-info">  Добавить новость  </button> </a>
    {% if not news %}
        <p>Новостей нет</p>
    {% else %}
        {% for el in news %}
            <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                <a href="{% url 'news-detail' el.slug %}"><button class="btn btn-warning"> Читать полную новость </button></a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
