
{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}
{% block content %}

<h1>Контакты</h1>
<hr>
<p align="center">  <a href="https://github.com/Gromynyrg/Django_homework" target="_blank">GitHub проекта</a> </p>
<div class="myframe" align="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.2729719349327!2d37.51043021521751!3d55.649461007425984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54d155606fd5b%3A0xb13c95912bd2434f!2z0KDQvtGB0YHQuNC50YHQutC40Lkg0LPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCz0LXQvtC70L7Qs9C-0YDQsNC30LLQtdC00L7Rh9C90YvQuSDRg9C90LjQstC10YDRgdC40YLQtdGCINC40LzQtdC90Lgg0KHQtdGA0LPQviDQntGA0LTQttC-0L3QuNC60LjQtNC30LU!5e0!3m2!1sru!2sru!4v1677504985127!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" align="absmiddle"></iframe>
</div>>
{% include 'main/test.html' %}
{% endblock %}